#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PYTHON	:= /usr/bin/python
#PYVER   := $(shell $(PYTHON) -c 'import sys; print sys.version[:3]')
PYVERS	= $(shell pyversions -vr)

build:

#build: $(PYVERS:%=build-python%)
#	touch $@

#build-python%:
#	dh_testdir
#	mv setup.cfg setup.cfg.outofway
#	python$* setup.py build
#	touch $@

clean:
	dh_testdir
	dh_testroot
#	rm -f build-python*
#	rm -rf build
#	-find . -name '*.py[co]' | xargs rm -f
#	test -r setup.cfg.outofway && mv setup.cfg.outofway setup.cfg || true
	dh_clean

install:
	dh_testdir
	dh_installdirs
	#$(MAKE) DESTDIR=$(CURDIR)/debian/tpclient-pywx install
	python setup.py install --temp=$(CURDIR)/debian/tpclient-pywx/usr --prefix=/usr

#install: build $(PYVERS:%=install-python%)

#install-python%:
#	dh_testdir
#	dh_testroot
#	dh_clean -k 
#	dh_installdirs
#	python$* setup.py install --root=$(CURDIR)/debian/python-tp-netlib \
#		--single-version-externally-managed
#	# This is code for testing the library, shouldn't be in the release
#	rm $(CURDIR)/debian/python-tp-netlib/usr/lib/python2.4/site-packages/tp/netlib/test.py
#	# This piece of magic makes the tp module seperation work
#	cp tp/__init__.py $(CURDIR)/debian/python-tp-netlib/usr/lib/python2.4/site-packages/tp/

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs README
	dh_pycentral
	dh_compress -X.py
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
